body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  width: 100%;
  height: 100px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links button {
  margin: 0 7px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}

.nav-links button:hover {
  cursor: pointer;
  
}


/* Main container of the slider -------*/
.slider{
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  overflow-x: hidden;
}
/* --------------------------- */


.slide img{
  width: 100%;
  height: 500px;
} 

.slide-container {
  width: 50%;
  height: 50%;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container{
  width: 50%;
  height: 30%;

}

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(212, 212, 212);
  transition: 0.5s ease-in-out;
}



/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 500px;
  display: flex;
  justify-content: center;
  background: red;
  height: 50px;
}

.manual-btn{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}



#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

